[Unit]
Description="cyberdog my_run"
Wants=mi_preset.service cyberdog_sudo.service cyberdog_bringup.service SDCARD.mount cyberdog_autodock.service
After=mi_preset.service cyberdog_sudo.service cyberdog_bringup.service SDCARD.mount cyberdog_autodock.service
Requires=cyberdog_autodock.service

[Service]
User=mi
Type=idle
ExecStartPre=/bin/sleep 5s
ExecStart=/SDCARD/workspace/cyberdog2_ros2_galactic/service/kh_service.sh
TimeoutStopSec=20
Restart=on-failure

[Install]
WantedBy=multi-user.target


